.axis path,
.axis line {fill: none;stroke: #555;}

.cum {
  fill: none;
  stroke: #097fc9;
  stroke-width: 2.5px;
}

rect.fcviz { fill: #772d72; }

div.tooltip {   
  position: absolute;           
  text-align: center;
  padding: 2px;
  background: #F2F2F2;   
  border: 0px;       
  pointer-events: none;         
}