.axis path,
.axis line {fill: none;stroke: #555;}

.cum {
  fill: none;
  stroke: #097fc9;
  stroke-width: 2.5px;
}

table.tooltip  {
  margin-bottom: 0px;
}

table.tooltip  td, td:first-child {
  padding: 2px 2px 2px 2px;
}

rect.fcviz { fill: #772d72; }

div.tooltip {   
  position: absolute;           
  text-align: center;
  padding: 2px;
  background: #F2F2F2;   
  border: 0px;       
  pointer-events: none;         
}

circle {
  stroke-width: 0.75px;
  stroke: white;
  fill: #772d72;
}

.date text {
  transform: rotate(10deg);
}

