.c3-axis path, .c3-axis-x path, .c3-axis-y line, .c3-axis-y2 line, 
.axis path,
.axis line {fill: none;stroke: #555;}

.c3-axis-x .tick line {
  display: none;
}

.cum {
  fill: none;
  stroke: #0fb3ca;
  stroke-width: 2.5px;
}

div#bids_drawer {
  position: absolute;
  top: 0;
  right: 15px;
  width: 18px;
  height: 100%;
}

div#bids_drawer .drawer-knob {
  cursor: pointer;
  position: relative;
  color: #772d72;
}

div#bids_drawer table.brand tr {
  background-color: rgba(255,255,255,255);
  opacity: 0.8;
}

table.tooltip  {
  margin-bottom: 0px;
}

table.tooltip  td, td:first-child {
  padding: 2px 2px 2px 2px;
}

tr.odd.warning td, tr.even.warning td {
  background-color: #f3edd2 ! important;
}

.loan-comments a {
  color: #097FC9;
  cursor: pointer;
  text-decoration: underline;
}

html[ng-app=fc] {
  overflow-y: auto;
}

rect.fcviz, rect.int, rect.inactive { fill: #772d72; }

rect.active, rect.fees { fill: #c7eefe; }

rect.lent { fill: #77c738; }

rect.clicked, rect.bid { fill: #0fb3ca; }

rect.prin, rect.available { fill: #DADADA; }

rect.fcviz-bid, rect.gain { fill: #CA4FCA; }

rect.loss { fill: #FC3A3A; }

text.portfolio-component {
  cursor: pointer;
}

text.portfolio-component.clicked {
  stroke: #772d72;
  fill: #772d72;
}

span.select-portfolio-totals {
  color: #097fc9;
  cursor: pointer;
}

div.tooltip {   
  position: absolute;           
  text-align: center;
  padding: 2px;
  background: #F2F2F2 ! important;   
  background-color: #F2F2F2 ! important;   
  border: 0px;       
  pointer-events: none;         
}

circle {
  stroke-width: 0.75px;
  stroke: white;
}

circle.inactive {
  fill: #772d72;
}

circle.active {
  fill: #c7eefe;
}

circle.clicked {
  fill: #0fb3ca;
}

.date text {
  transform: rotate(10deg);
}

div.bid_block_details_live {   
  width: 355px;
  height: 114px;
  position: absolute;
  top: -60px;
  left: 355px;
}
.bid_block_details_live span {   
  position: absolute;
  top: 0px;
  left: 345px;
}

.bid_block_details_live th, .bid_block_details_live td, 
.bid_block_details_live td:first-child, .bid_block_details_live td:last-child,
.bid_block_details_live th:first-child, .bid_block_details_live th:last-child  {
  padding: 0px 0px 0px 0px;
}

.bid_block_details_live h5 {
  text-align: center;
}

div.bid_block_details {   
  width: 462px;
  height: 114px;
  position: absolute;
  top: -53px;
  left: 405px;
}

.bid_block_details span {   
  position: absolute;
  top: 0px;
  left: 452px;
}

.bid_block_details th, .bid_block_details td, 
.bid_block_details td:first-child, .bid_block_details td:last-child,
.bid_block_details th:first-child, .bid_block_details th:last-child  {
  padding: 0px 0px 0px 0px;
}

.bid_block_details h5 {
  text-align: center;
}

span.see_more, span.markup_all {
  color: #097fc9;
  font-weight: 600;
  cursor: pointer;
}

tr.preview {
  height: 250px;
}

tr.preview  td {
  border-top-width: 0px;
}

tr.preview dt:before {
  content: "";
  display: block;
}
tr.preview dl dt, dl dd {
  font-size: 14px;
  display: inline;
}

span#repay_graph_link, .repay_change_data {
  color: #0099FF;
  cursor: pointer;
}

.c3 rect.extent {
  color: #dadada;
  opacity: 0.5;
}

.c3-tooltip  td.name, .c3-tooltip  td.value {
  font-size: 14px;
  padding: 0px 0px 0px 0px;
}

path.c3-line {
  fill: none;
}

.c3 {
  position: relative;
}

.c3 svg {
  position: absolute;
  display: inline-block;
  top: 0px;
}

.repay_details {
  display: inline-block;
  margin-left: 80%;
}

#parts_list th, #parts_list td {
  padding: 1px 1px 1px 1px;
}

.live-bid {
  color: #0fb3ca;
}

.rejected-bid {
  color: #dadada;
}

text.bid-highlight, img[src='/images/auction-hammer.png'] {
  cursor: pointer;
}

.pulser {
  -webkit-animation: cc 0.5s linear 0.5s infinite alternate;
  animation: cc 0.5s linear 0.5s infinite alternate;
}

@-webkit-keyframes cc {
 0%   { color: #000;}
 50%  { color: #888;}
 100% { color: #fff;}
}

@keyframes cc {
  0%   { color: #000;}
  50%  { color: #888;}
  100% { color: #fff;}
}


#customrepay div#customrepayrow section{
  width: 99.8%;
}

#customrepay div#customrepayrow li {
  display: inline; 
  float: left;
  text-align: center;
  width: 19%;
  padding: 2.30em 2.5%;
}

#customrepay div#customrepayrow li h4 {
  font-size: 44px;
  height: 60px;
}

#customrepay div#customrepayrow li h4.next-payment span {
  font-size: 25px;
}

#customrepay div#customrepayrow li h4.final-payment {
  font-size: 25px;
}

#customrepay div#customrepayrow li p {
  font-size: 16px;
}

#customrepay div#customrepayrow .notice-card {
  margin: 0.5em 1em 1em;
  padding: 1.5em 1em;
}


.odd td {
    background-color: #f9f9f9 ! important;
}

.even td {
    background-color: inherit ! important;
}

td.details-control {
    background-image: url(/images/icons/blue_plus.png) ! important;
    background-position-x: center ! important;
    background-position-y: center ! important;
    background-repeat: no-repeat ! important;
    cursor: pointer;
}
tr.shown td.details-control {
    background-image: url(/images/icons/blue_minus.png) ! important;
    background-position-x: center ! important;
    background-position-y: center ! important;
    background-repeat: no-repeat ! important;
}

.dataTables_length {
  padding: 0 0 0 0 ! important;
}

.dataTables_length * {
  width: auto ! important;
}

.dataTables_filter {
  float: right ! important;
  padding: 0 0 0 0 ! important;
}

.dataTables_filter * {
  width: auto ! important;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797 !important;
    background-color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc)) !important;
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%) !important;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent !important;
    background: transparent !important;
    box-shadow: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111 !important;
    background-color: #585858 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111)) !important;
    background: -webkit-linear-gradient(top, #585858 0%, #111 100% !important);
    background: linear-gradient(to bottom, #585858 0%, #111 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none !important;
    background-color: #2b2b2b !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c)) !important;
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%) !important;
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%) !important;
    box-shadow: inset 0 0 3px #111 !important;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer ! important;
    *cursor: hand ! important;
}
table.dataTable thead .sorting_asc {
  background-image: url(/images/table_list_th_order_asc.png) ! important;
  background-repeat: no-repeat ! important;
  background-position: center right ! important;
}

table.dataTable thead .sorting_desc {
  background-image: url(/images/table_list_th_order_desc.png) ! important;
  background-repeat: no-repeat ! important;
  background-position: center right ! important;
}

.throbber {
	display: inline-flex;
 	width: 13px;
 	height: 13px;
	margin:-10px;
	padding:0;
 	border: 3px solid;
 	border-top-color: transparent;
 	border-left-color: transparent;
 	border-radius: 50%;
	color:#397CE9;
	background-color: transparent;
	animation: load 0.9s linear infinite;
 }

@keyframes load {
  100% { transform: rotate(360deg); }
}