.my-exposure input[type=checkbox] {
  display: none ! important;
}

.my-exposure p {
  display: inline;
}

.risk-bands input[type=checkbox] {
  display: none ! important;
}

.risk-bands li, label[for*=loans_funded] {
  width: 12.5% ! important;
  text-align: center;
  color: white;
  background-color: #772d72;
}

.risk-bands li[active=false], label[for*=loans_funded][active=false] {
  color: black;
  background-color: inherit;
}

.loan-part-filters .m1-m3 {
  padding-left: 10px;
}

.loan-part-filters .m1-m3 li {
  display: block;
  float: left;
  padding-left: 1px;
  padding-right: 1px;
}

.loan-part-filters .m1-m3 .keywords {
  width: 50%;
}

.loan-part-filters .m1-m3 .price {
  width: 25%;
}

.loan-part-filters .m1-m3 .price input {
  width: 100% ! important;
}

.loan-part-filters .m1-m3 .premium {
  width: 25%;
}

.loan-part-filters .m1-m3 .premium label {
  width: 125%;
}

.loan-part-filters .m1-m3 .premium .js-select > span {
  padding: 0.307692308em 2em 0.307692308em 0.692307692em;
  width: 100%;
  height: 31.5938px;
}

.loan-part-filters .m7-m8 {
  padding-top: 12px ! important;
}

.premium:before {
  display: none ! important;
}

.form label {
  margin-top: 0px ! important;
}

.form li {
  margin-bottom: 0.5rem ! important;
}

.form p {
  font-size: 14px;
}

#loan_part_paginator_show_watched_loans {
  margin-left: -20px;
}

.filter-business-region .js-select {
  width: 112px ! important;
}